.text-blue{
    color: #3689f4;
}
.workshop-grid{
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    column-gap: 20px;
    padding: 15px;
}
a > .card{
    color: black;
}
.single-image{
    width: 100%;
}
@media screen and (min-width: 700px){
    .workshop-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
